services:
  prometheus:
    image: prom/prometheus
    container_name: prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
    ports:
      - 9090:9090
    restart: unless-stopped
    networks:
      - raspberry-net
    extra_hosts:
      - "DietPi:host-gateway"
    volumes:
      - ./prometheus:/etc/prometheus
      - prom_data:/prometheus

  grafana:
    image: grafana/grafana
    container_name: grafana
    ports:
      - 3000:3000
    restart: unless-stopped
    networks:
      - raspberry-net
    volumes:
      - ./grafana:/etc/grafana/provisioning/datasources
      - grafana_data:/var/lib/grafana

  influxdb:
    image: influxdb:2.7.6-alpine
    container_name: influxdb2
    restart: unless-stopped
    ports:
      - 8086:8086
    networks:
      - raspberry-net
    extra_hosts:
      - "DietPi:host-gateway"
    volumes:
      - influxdb2_data:/var/lib/influxdb2
      - ./influxdb2/config:/etc/influxdb2
      - ./influxdb2/scripts:/docker-entrypoint-initdb.d

  telegraf:
    image: telegraf:latest
    pid: "host"
    container_name: telegraf
    env_file:
      - ../.env
    user: ${TELEGRAF_UID}:${TELEGRAF_GID}
    restart: always
    entrypoint: /bin/bash -c "/entrypoint.sh telegraf"
    networks:
      - raspberry-net
    extra_hosts:
      - "DietPi:host-gateway"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./telegraf/telegraf.conf:/etc/telegraf/telegraf.conf:ro
      - /:/hostfs:ro
    environment:
      - HOST_ETC=/hostfs/etc
      - HOST_PROC=/hostfs/proc
      - HOST_SYS=/hostfs/sys
      - HOST_VAR=/hostfs/var
      - HOST_RUN=/hostfs/run
      - HOST_MOUNT_PREFIX=/hostfs
      - INFLUXDB_URL=${INFLUXDB_URL}
      - INFLUXDB_TOKEN=${INFLUXDB_TOKEN}
      - INFLUXDB_ORG=${INFLUXDB_ORG}
      - INFLUXDB_BUCKET=${INFLUXDB_BUCKET}

  node-exporter:
    image: prom/node-exporter:latest
    container_name: node-exporter
    hostname: DietPi
    command:
      - '--path.rootfs=/host'
      - '--path.procfs=/host/proc'
      - '--path.sysfs=/host/sys'
      - '--collector.filesystem.mount-points-exclude=^/(sys|proc|dev|host|etc)($$|/)'
    pid: host
    restart: unless-stopped
    networks:
      - raspberry-net
    volumes:
      - '/:/host:ro,rslave'
      - '/proc:/host/proc:ro'
      - '/sys:/host/sys:ro'

networks:
  raspberry-net:
    external: true

volumes:
  prom_data:
  grafana_data:
  influxdb2_data:
