version: '3'

services:
    pihole:
        container_name: pihole
        image: pihole/pihole:latest
        restart: unless-stopped
        hostname: pihole
        ports:
            - '53:53/tcp'
            - '53:53/udp'
            - '8053:80/tcp'
        env_file:
            - ../.env
        environment:
            WEBPASSWORD: '${PIHOLE_PASSWORD}'
            ServerIP: '${PIHOLE_SERVER_IP}'
            PIHOLE_DNS_: '${PIHOLE_DNS}'
            VIRTUAL_HOST: '${PIHOLE_VIRTUAL_HOST}'
            DNSSEC: '${PIHOLE_DNSSEC}'
            DNSMASQ_LISTENING: '${PIHOLE_DNSMASQ_LISTENING}'
        volumes:
            - './etc-pihole:/etc/pihole'
            - './etc-dnsmasq.d:/etc/dnsmasq.d'
        networks:
            - raspberry-net
        cap_add:
            - NET_ADMIN

networks:
    raspberry-net:
        external: true
