version: '3.8'

services:
  npm:
    image: 'jc21/nginx-proxy-manager:latest'
    container_name: nginx-proxy-manager
    restart: unless-stopped
    ports:
      - '80:80'
      - '443:443'
      - '81:81'
    env_file:
      - ../.env
    environment:
      DB_SQLITE_FILE: "${NPM_DB_SQLITE_FILE}"
      DISABLE_IPV6: '${NPM_DISABLE_IPV6}'
    volumes:
      - ./data:/data
      - ./letsencrypt:/etc/letsencrypt
    networks:
      - raspberry-net

networks:
  raspberry-net:
    external: true
